/*
Handshake

markup:
<figure class="well well--hero cover" style="background: Grey;">
  <picture class="cover__image">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1440px)" srcset="/images/content/handshake--tablet.png, /images/content/handshake--tablet--2x.png 2x">
    <source media="(min-width: 1024px)" srcset="images/content/handshake--smartphone--portrait--2x.png">
    <source media="(min-width: 768px)" srcset="/images/content/handshake--smartphone--landscape--2x.png 2x">
    <source media="(orientation: landscape)" srcset="/images/content/handshake--smartphone--landscape.png, /images/content/handshake--smartphone--landscape--2x.png 2x">
    <source media="(orientation: portrait)" srcset="/images/content/handshake--smartphone--portrait.png, /images/content/handshake--smartphone--portrait--2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img class="cover__image" srcset="/images/content/handshake--tablet.png, /images/content/handshake--tablet--2x.png 2x" alt="">
  </picture>
  <figcaption class="well well--hero well--tile  handshake__item tile tile__footer wings">
    <div class="handshake__body">
      <h1 class="brand tile__body">
        <span class="is-narrative">Brickson • Amsterdam – Den Bosch</span>
      </h1>
    </div>
    <div class="handshake__body">
      <h2 class="title trailer--tiny leader--hero">Een stap vooruit in het digitale tijdperk</h2>
      <p class="trailer leader">Brickson is een integrated digital agency, we begrijpen mensen én techniek en we helpen je een stap vooruit te zetten in de digitale wereld.</p>
    </div>
  </figcaption>
</figure>

Styleguide 4.1
*/

.handshake {
  &__brand,
  &__body {
    height: 50%;
    height: 50vh;
  }
  &__brand {

  }
  &__body {

  }
  @include breakpoint($lt-large-handheld,$landscape) {
    // &__item {
    //   padding-right: 0;
    // }
  }
}


// Move!!!!

.testimonial {
  // padding-left: percentage(1/12);
  // padding-right: percentage(1/12);
}
