/*
Person

An image and some meta data (name, date, occupation, etc)

markup:
<figure class="person bleed">
  <span class="person__picture gutters">
    <img src="/images/heads/marja_smits.jpg" class="person__image" width="56" height="56" style="background: Grey;"/>
  </span>
  <figcaption class="person__body">
    <span class="person__name title title--section">Marja Smits</span>
    <small class="person__occupation">Manager Strategie en Marketing Evean</small>
  </figcaption>
</figure>

sg-wrapper:
<div style="position: relative;">
<sg-wrapper-content/>
</div>

Styleguide 4.3
*/

.person {
  position: relative;
  // left: px-to-pt(-1*rhythm(5));
  display: table;
  max-width: 380px;
  &__picture,
  &__body {
    display: table-cell;
    vertical-align: middle;
    line-height: px-to-pt(rhythm(3));
  }
  &__image {
    outline: 1px solid $white;
    width: px-to-pt(rhythm(10));
    height: px-to-pt(rhythm(10));
  }
  &--s &__image {
      width: px-to-pt(rhythm(8));
      height: px-to-pt(rhythm(8));
  }
  @include breakpoint($gt-small-desktop) {
    // left: px-to-pt(-1*rhythm(6));
    &__image {
      width: px-to-pt(rhythm(12));
      height: px-to-pt(rhythm(12));
    }
  }
}
