/*
Pod

Pods are layout containers that can behave in different ways. There are several different pods:

* Regular, default pod `used for introduction pod and contact module`
* Hippo pod `used for hero module`
* Kudu pod `used for handshake module`
* Serval pod `used for testimonial module`
* Baboon pod `used for introduction pod and contact module`
* Zebra pod `used for invitation module`
* Leopard pod `used for case tiles`
* Rhino pod `utility modifier to be used in combination with other pods, limits to 24 columns wide on large desktop (and up) landscape.`

Styleguide 4.1
*/


.pod {

  // /* Debug */
  // background: url('https://hd.unsplash.com/photo-1428542244207-0aaec316e609') no-repeat center;
  // background-size: cover;
  // &--rhino { background-image: url('http://animal-dream.com/data_images/rhino/rhino8.jpg') }
  // &--hippo { background-image: url('http://i.imgur.com/hfpgikz.jpg') }
  // &--kudu { background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/25/Kudu1.jpg') }
  // &--serval { background-image: url('http://img.wallpaperfolder.com/f/53CC12F5FCA5/serval-bush-cat-1956x1303-196078.jpg') }
  // &--baboon { background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/97/BABOON-e.JPG') }
  // &--zebra { background-image: url('https://c2.staticflickr.com/4/3043/2405490902_d57eb8a36f_b.jpg') }
  // &--leopard { background-image: url('http://kingofwallpapers.com/leopard/leopard-010.jpg') }
  // /* End Debug */

  width: 100%;
  min-height: 100%;
  min-height: 100vh;
  &__seed {
    float: left;
    width: 100%;
    min-height: 50%;
    min-height: 50vh;
    padding: 0 gutter();
  }
  &--hippo &__seed {
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
  }
  &--hippo &__seed,
  &--leopard &__seed {
    padding: 0 percentage(1/12);
  }
  &--kudu &__seed {
    min-height: 0;
  }
  @include breakpoint("(min-aspect-ratio: 6/5)") {
    &__seed {
      width: 50%;
      min-height: 100%;
      min-height: 100vh;
    }
    &--kudu &__seed,
    &--zebra &__seed {
      width: 50%;
    }
    &--kudu &__seed {
      float: none;
    }
    &--baboon {
      width: 50%;
    }
    &--leopard &__seed,
    &--baboon &__seed {
      width: 100%;
    }
    &--leopard &__seed,
    &--baboon &__seed,
    &--zebra &__seed {
      min-height: 50%;
      min-height: 50vh;
    }
  }
  @include breakpoint("(max-aspect-ratio: 6/5)") {
    &--baboon {
      min-height: 50%;
      min-height: 50vh;
    }
    &--baboon &__seed {
      width: 50%;
      min-height: 100%;
      min-height: 50vh;
    }
  }
  @include breakpoint($lt-small-desktop){
      &--serval &__seed {
        color: white;
        .button {
          color: white;
        }
      }
  }
  @include breakpoint($gt-large-handheld) {
    &__seed {
      padding: 0 percentage(1/12);
    }
    &--kudu,
    &--zebra {
        min-height: 50%;
        min-height: 50vh;
    }
    &--leopard {
      width: percentage(6/12);
      float: left;
    }
    &--leopard {
      width: percentage(12/24);
      // min-height: 50%;
      // min-height: 50vh;
      float: right;
      &:nth-child(2n+1) {
        clear: right;
      }
    }
    &--leopard &__seed {
      min-height: 50%;
      min-height: 25vh;
    }
  }
  @include breakpoint($gt-small-desktop) {
    &__seed {
      // padding: 0 percentage(2/24);
    }
    &__serval {
      position: relative;
    }
    &--serval &__seed {
      position: absolute;
      left: 0;
      bottom: 0;
      // top: 50%;
      width: percentage(12/24);
      min-height: 50%;
      min-height: 50vh;
      background: $white;
      background: rgba($white, .8);
    }
    &--hippo &__seed {
      padding: 0 percentage(2/36) 0 percentage(4/36);
    }
  }
  @include breakpoint($gt-medium-desktop) {
    &__seed {
      padding: 0 percentage(2/36);
    }
    &--rhino {
      width: percentage(24/36);
      max-width: percentage(24/36);
    }
    &__serval {
      position: relative;
    }
    &--baboon {
      width: percentage(12/36);
    }
    &--leopard {
      // width: percentage(1/2);
    }
  }
}



/*
Regular, default pod

Full bleed on mobile views.

Holds one (1) to two (2) pod seeds. Pod seeds are always half size, stacked on portrait and adjacent on landscape viewports.

.pod - Regular pod.
.pod.pod--rhino - Regular pod, Rhino modifier.

markup:
<section class="{$modifiers}">
  <div class="pod__seed">
    {$modifiers}
  </div>
  <div class="pod__seed">
    {$modifiers}
  </div>
</section>

sg-wrapper:
<div class="sg-container">
  <sg-wrapper-content/>
</div>

Styleguide 4.1.1
*/


/*
Hippo pod

Hippo pod. Full bleed accross views.

Holds one (1) pod seed.

.pod.pod--hippo - Hippo pod.
.pod.pod--hippo.pod--rhino - Hippo pod, Rhino modifier.

markup:
<section class="{$modifiers}">
  <div class="pod__seed">
    {$modifiers}
  </div>
</section>

sg-wrapper:
<div class="sg-container">
  <sg-wrapper-content/>
</div>

Styleguide 4.1.2
*/


/*
Kudu pod

Full bleed on mobile views. Half height, full width on tablet (and up) portrait. Full height, half width on tablet (and up) landscape. 12/36 Width on medium desktop (and up) landscape.

Holds one (1) to two (2) pod seeds. Pod seeds are half width, but always stacked in the left half of the pod (right half empty).

.pod.pod--kudu - Kudu pod.
.pod.pod--kudu.pod--rhino - Kudu pod, Rhino modifier.

markup:
<section class="{$modifiers}">
  <div class="pod__seed">
    {$modifiers}
  </div>
  <div class="pod__seed">
    {$modifiers}
  </div>
</section>

sg-wrapper:
<div class="sg-container">
  <sg-wrapper-content/>
</div>

Styleguide 4.1.3
*/


/*
Serval pod

Full bleed on mobile views. Half height, full width on tablet (and up) portrait. Full height, half width on tablet (and up) landscape.

Holds only one (1) pod seed. Pod seed sits in the bottom left corner on large desktop (and up) landscape.

.pod.pod--serval - Serval pod.
.pod.pod--serval.pod--rhino - Serval pod, Rhino modifier.

markup:
<section class="{$modifiers}">
  <div class="pod__seed">
    {$modifiers}
  </div>
</section>

sg-wrapper:
<div class="sg-container">
  <sg-wrapper-content/>
</div>

Styleguide 4.1.4
*/


/*
Baboon pod

Full bleed on mobile views. Half height, full width on tablet (and up) portrait. Full height, half width on tablet (and up) landscape.

Holds one (1) to two (2) pod seeds. Pod seeds are always half size.

.pod.pod--baboon - Baboon pod.
.pod.pod--baboon.pod--rhino - Baboon pod, Rhino modifier.

markup:
<section class="{$modifiers}">
  <div class="pod__seed">
    {$modifiers}
  </div>
  <div class="pod__seed">
    {$modifiers}
  </div>
</section>

sg-wrapper:
<div class="sg-container">
  <sg-wrapper-content/>
</div>

Styleguide 4.1.5
*/


/*
Zebra pod

Full bleed on mobile views. Half height, full width on tablet (and up) portrait. Full height, half width on tablet (and up) landscape. 12/36 Width on medium desktop (and up) landscape.

Holds one (1) to two (2) pod seeds.

.pod.pod--zebra - Zebra pod.
.pod.pod--zebra.pod--rhino - Kudu pod, Rhino modifier.

markup:
<section class="{$modifiers}">
  <div class="pod__seed">
    {$modifiers}
  </div>
  <div class="pod__seed">
    {$modifiers}
  </div>
</section>

sg-wrapper:
<div class="sg-container">
  <sg-wrapper-content/>
</div>

Styleguide 4.1.6
*/


/*
Leopard pod

Two, half height, stacked containers accross all viewports.

Holds one (1) to two (2) pod seeds.

.pod.pod--leopard - Leopard pod.

markup:
<section class="{$modifiers}">
  <div class="pod__seed">
    {$modifiers}
  </div>
  <div class="pod__seed">
    {$modifiers}
  </div>
</section>

sg-wrapper:
<div class="sg-container">
  <sg-wrapper-content/>
</div>

Styleguide 4.1.7
*/


/*
Rhino pod

 24 Columns width on large desktop (and up) landscape.

.pod.pod--rhino - Rhino pod.

markup:
<section class="{$modifiers}">
  <div class="pod__seed">
    {$modifiers}
  </div>
  <div class="pod__seed">
    {$modifiers}
  </div>
</section>

sg-wrapper:
<div class="sg-container">
  <style>
  </style>
  <sg-wrapper-content/>
</div>

Styleguide 4.1.8
*/
