
/*
Trail

Breadcrumbs

.trail - Trail

markup:
<nav class="{$modifiers} meta leader--tiny trailer bleed">
  <ol class="list--reset list--inline">
    <li><a class="anchor--reset anchor--shy" href="javascript:;">Case</a></li>
    <li><a class="anchor--reset anchor--shy" href="javascript:;">Vereniging Eigen Huis</a></li>
  </ol>
</nav>

Styleguide 4.4
*/

.trail {
  a {
    padding: rhythm(2) gutter();
  }
  li + li {
    &:before {
      content: "|";
    }
  }
}
