/*
Align

Styleguide 2.10
*/

.align {
	&--center,
	&--middle {
		position: relative;
		top: 50%;
	}
	&--center {
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
	}
	&--middle {
		transform: translateY(50%);
	}
}
