/*
Layout

Two- or three-column layout – |Aside|Main|Aside. Aside columns are optional and can be omitted for a two- or single-column layout.

.layout - Full width accross viewports
.layout.layout--reverse - Reverses container ordering on smallest viewports, is used for source ordering
.layout.layout--even - Spreads columns evenly
.layout.layout--align-middle - Align content vertically centered

markup:
<div class="{$modifiers}">
  <div class="layout__cell layout__cell--aside">
    Sidebar
  </div>
  <div class="layout__cell">
    Main
  </div>
  <div class="layout__cell layout__cell--aside">
    Sidebar
  </div>
</div>

Styleguide 2.1
*/

/*
 * 1. Allow containers to shrink and grow
 * 2. IE Fallback
 */

.layout {
  @include breakpoint($gt-large-handheld) {
    display: flex;
    flex-direction: column;
    &__cell {
      flex: 0 1 100%;
      max-width: 100%; /* 2. */
    }
    &--reverse {
      flex-direction: column-reverse
    }
    &--even {
      flex: 0 0 auto !important;
      max-width: 100%; /* 2. */
    }
    &--align-middle {
      align-items: center;
    }
    &__cell {
      &.wings {
        padding-left: percentage(1/24);
        padding-right: percentage(1/24);
      }
    }
  }
  @include breakpoint($gt-small-desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    &__cell {
      flex: 1 1 percentage(12/36);
      max-width: percentage(12/36);
      &.wings {
        padding-left: percentage(1/36);
        padding-right: percentage(1/36);
      }
    }
    &__cell--main {
      flex: 1 1 percentage(24/36);
      max-width: percentage(24/36);
      &.wings {
        padding-left: percentage(1/24);
        padding-right: percentage(1/24);
      }
    }
  }
}
