<!DOCTYPE html>
<html lang="en">
  {% embed "partials/head.twig" with { title: 'Press', locale: locale } %}
  {% endembed %}

  <body>
    {% embed "partials/masthead.twig" with { locale: locale } %}
    {% endembed %}

    <h1 class="title title--headline title--section wings"><span class="gutters">Press</span></h1>
  </body>
</html>
