<!DOCTYPE html>
<html lang="en">
  {% embed "partials/head.twig" with { title: 'Publications', locale: locale } %}
  {% endembed %}

  <body>
    {% embed "partials/masthead.twig" with { locale: locale } %}
    {% endembed %}

    <h1 class="title title--headline title--section wings"><span class="gutters">Publications</span></h1>

  </body>
</html>
