/*
Typography

If `$use-brand-type: true` type is set in Merriwheather and Futura.
If `$use-brand-type: false` type is set in Times and Open Sans.

Styleguide 1.3.2
*/

$use-brand-type: false;

$font-family: "Book Antiqua", "Palatino Linotype", Palatino, serif;
$font-variant: normal;
$font-style: normal;
$font-weight: 300;

$font-family--meta: Arial, Helvetica, sans-serif;
$font-weight--meta: 600;

$font-family--heading: "Arial Black", Gadget, sans-serif;
$font-weight--heading: 300;
