
// .pod__seed {
//   padding: 0;
// }
// .trump-landingpage {
//   @include breakpoint("#{$gt-small-desktop} and #{$lt-medium-desktop} and #{$landscape}") {
//     display: flex;
//     flex-wrap: wrap;
//     .handshake,
//     .invitation {
//         flex-basis: 50%;
//         width: 50%;
//         min-height: 100%;
//         min-height: 100vh;
//         .pod__seed {
//           width: 100%;
//           min-height: 50%;
//           min-height: 50vh;
//         }
//     }
//     .handshake {
//       .tile {
//         width: 100%;
//         flex-grow: 1;
//       }
//       .tile + .tile {
//         flex-grow: 0;
//       }
//       .brand {
//         background-position: center;
//       }
//     }
//     .introduction,
//     .testimonial {
//       flex-basis: 100%;
//       width: 100%;
//       min-height: 50%;
//       min-height: 50vh;
//     }
//   }
//   @include breakpoint($gt-medium-desktop,$landscape) {
//     display: block;
//     .handshake {
//       .tile {
//         min-height: 0;
//       }
//     }
//   }
// }


@include breakpoint($gt-medium-desktop) {
  .introduction {
    position: relative;
    margin-bottom: -50%;
    top: -50%;
    top: -50vh;
    float: right;
  }
}

/* Edge's absolute position requires extra help */
@supports (-ms-ime-align:auto) {
  .quote {
    &:before {
      display: inline;
    }
  }
}

.quote {
  &:before {
    display: inline\9;
  }
}

@include breakpoint($gt-large-handheld,$portrait) {
  .pod--kudu .cover__image {
    right: 0;
  }
}


.is-italic {
  font-style: italic;
}
