/*
Article

Styleguide 5.6
*/

.article {
 min-height: 100%;
 min-height: 100vh;
 &__body {
   padding-left: percentage(1/12);
   padding-right: percentage(1/12);
 }
}
@include breakpoint($gt_large-handheld,$landscape) {
 .article {
  &__body {
     padding-left: percentage(2/24);
     padding-right: percentage(2/24);
   }
 }
}

@include breakpoint($gt_medium_desktop,$landscape) {
 .article {
   position: relative;
   width: percentage(24/36);
  //  width: 100%;
   background: $white;
   &__body {
     padding-left: percentage(6/24);
     padding-right: percentage(6/24);
   }
   .grid {
     position: relative;
     z-index: 1;
   }
 }
}
