/*
Handshake

markup:
<section class="pod pod--kudu pod--rhino handshake cover isolation">
  <picture>
    <img class="cover__image" src="https://hd.unsplash.com/photo-1428542244207-0aaec316e609">
  </picture>
  <h1 class="seed__header leader trailer">
    <img style="max-height: 100px;" src="../images/logos/Brickson-Logotype-RGB-DB.svg" alt="Brickson • Amsterdam – Den Bosch">
  </h1>
  <div class="pod__seed seed">
    <h2 class=" seed__header title title--inverse">Vor met digitaal</h2>
    <p class="seed__body body--inverse trailer leader">Brickson is er voor organisaties die de volgende stap in digitaal willen maken. Met een strategie, digitaal concept, website of een applicatie.</p>
  </div>
</section>

Styleguide 5.1
*/

.handshake {
  .tile {
    min-height: 50%;
    min-height: 50vh;
  }
  .brand {
    background-position: center;
  }
    @include breakpoint("(min-aspect-ratio: 6/5)") {
    .tile {
      width: percentage(9/12);
      min-height: 0;
    }
    .tile + .tile {
      min-height: 50%;
      min-height: 50vh;
    }
    .brand {
      background-position: 0;
    }
  }
  @include breakpoint($gt-large-handheld) {
    .tile {
      min-height: 25vh;
    }
    .brand {
      background-position: 0;
    }
  }
  @include breakpoint("#{$gt-small-desktop} and (min-aspect-ratio: 6/5)") {
    .tile {
      width: percentage(6/12);
    }
    .brand {
        height: px-to-pt( rhythm(22) );
    }
  }
  @include breakpoint("#{$gt-medium-desktop} and (min-aspect-ratio: 6/5)") {
    .tile {
      width: percentage(6/12);
    }
    .brand {
        height: px-to-pt( rhythm(24) );
    }
  }
}
