/*
Navigation Bar

.navbar - Navigation bar

markup:
<nav class="{$modifiers}">
  <sg-insert>4.5-1</sg-insert>
</nav>

Styleguide 5.10
*/

.navbar {
  width: 100%;
  padding: rhythm(2) gutter();
  // height: rhythm(20);
  background: $white;
  background: rgba($white,.8);
  &--hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  @include breakpoint($gt-medium-handheld) {
    padding: rhythm(2) percentage(1/12);
  }
  @include breakpoint($gt-large-handheld) {
    padding: rhythm(2) percentage(1/24);
  }
  @include breakpoint($gt-small-desktop) {
    padding: rhythm(4) percentage(1/24);
  }
  @include breakpoint($gt-medium-desktop) {
    padding: rhythm(4) percentage(2/36);
  }
}
