/*
Body

.body - Regular paragraph
.body--lead - Lead or introduction paragraph
.body--whisper - Smaller text
.body--meta - Meta text, dates etc.

markup:
<p class="{$modifiers}">Drone technology could help farmers around the world monitor their crops, fend off pests, improve land tenure, and more. But to realise its full potential, regulatory regimes are necessary, while keeping citizens’ safety and privacy rights secure.</p>

Styleguide 3.1
*/

%meta-text {
  font-family: $font-family--meta;
  text-transform: uppercase;
  font-weight: $font-weight--meta;
  letter-spacing: .3em;
}

.body {
  &--lead {
    font-size: to-unit(24px);
    line-height: line-height(24px, 1.3);
    margin: rhythm(10) 0;
  }
  &--whisper {
    font-size: to-unit(10px, 1em, 12px);
    line-height: line-height(10px, 1.1);
  }
  &--meta {
    @extend %meta-text;
    font-size: to-unit(8px, 1em, 12px);
    line-height: line-height(10px, 1.1);
  }
  @include breakpoint($gt-medium-desktop) {
    $reset-font-size: px(16px, 1%, $base-font-size);
    $reset-line-height: px( rhythm(5), 1%, 16px);
    &--meta,
    &--whisper {
      font-size: to-unit(10px, 1em, 16px);
      line-height: line-height(10px, 1.1);
    }
  }
}
