/*
Brand

markup:
<p class="slogan">
  <em class="is-narrative">Sowing Innovation Harvesting Prosperity</em>
</p>

width="444px" height="347px" viewBox="0 0 444 347"

Styleguide 3.11
*/

.brand {
  height: rhythm(26);
  width: 100%;
  background: url("/images/logos/brickson-logo--white@1x.png") no-repeat center;
  background-size: contain;
}
