/*
Brand

markup:
<p class="slogan">
  <em class="is-narrative">Sowing Innovation Harvesting Prosperity</em>
</p>

width="444px" height="347px" viewBox="0 0 444 347"

Styleguide 3.11
*/

.brand {
  height: rhythm(12);
  height: rhythm(12);
  background: no-repeat center;
  background-image: url("/images/logos/Brickson-Logotype-RGB-LB--tablet--x2.png");
  background-image: url("/images/logos/Brickson-Logotype-RGB-LB.svg");
  background-size: contain;
  &--ams,
  &--dnb {
    height: rhythm(15);
  }
  &--ams {
    background-image: url("/images/logos/Brickson-Logotype-AMS-RGB-LB--tablet--x2.png");
    background-image: url("/images/logos/Brickson-Logotype-AMS-RGB-LB.svg");
  }
  &--dnb {
    background-image: url("/images/logos/Brickson-Logotype-DNB-RGB-LB--tablet--x2.png");
    background-image: url("/images/logos/Brickson-Logotype-DNB-RGB-LB.svg");
  }
  &--handshake {
    width: auto;
    height: rhythm(22);
  }
  &--cover {
    background-image: url("/images/logos/Brickson-Logotype-RGB-DB--tablet--x2.png");
    background-image: url("/images/logos/Brickson-Logotype-RGB-DB.svg");
  }
  @include breakpoint($gt-large-handheld) {
    &--handshake {
      height: rhythm(26);
    }
  }
}
