/*
Brand

markup:
<p class="slogan">
  <em class="is-narrative">Sowing Innovation Harvesting Prosperity</em>
</p>

width="444px" height="347px" viewBox="0 0 444 347"

Styleguide 3.9
*/

.brand {
  height: px-to-pt( rhythm(12) );
  background: no-repeat 0;
  background-image: url("/images/logos/Brickson-Logotype-RGB-LB--tablet--x2.png");
  background-image: url("/images/logos/Brickson-Logotype-RGB-LB.svg");
  background-size: contain;
  &--ams,
  &--dnb {
    height: px-to-pt( rhythm(15) );
  }
  &--ams {
    background-image: url("/images/logos/Brickson-Logotype-AMS-RGB-LB--tablet--x2.png");
    background-image: url("/images/logos/Brickson-Logotype-AMS-RGB-LB.svg");
  }
  &--dnb {
    background-image: url("/images/logos/Brickson-Logotype-DNB-RGB-LB--tablet--x2.png");
    background-image: url("/images/logos/Brickson-Logotype-DNB-RGB-LB.svg");
  }
  &--hero {
      height: px-to-pt( rhythm(18) );
  }
  &--inverse {
    background-image: url("/images/logos/Brickson-Logotype-RGB--tablet--x2.png");
    background-image: url("/images/logos/Brickson-Logotype-W.svg");
  }
  @include breakpoint($gt-large-handheld) {
    height: px-to-pt( rhythm(15) );
    &--ams,
    &--dnb {
      height: px-to-pt( rhythm(17) );
    }
    &--hero {
        height: px-to-pt( rhythm(22) );
    }
  }
  @include breakpoint($gt_small_desktop,$landscape) {
    &--ams,
    &--dnb {
      height: px-to-pt( rhythm(18) );
    }
    &--hero {
        height: px-to-pt( rhythm(33) );
    }
  }
  @include breakpoint($gt_medium_desktop,$landscape) {
    &--ams,
    &--dnb {
      height: px-to-pt( rhythm(20) );
    }
    &--hero {
        height: px-to-pt( rhythm(44) );
    }
  }
}
