/*
Cover

Full bleed image. Image source is defined inline.

markup:
<section class="cover" style="background-image: url('https://images.unsplash.com/photo-1465198217870-8bd6e645e8d1?dpr=1&auto=format&crop=entropy&fit=crop&w=767&h=575&q=80&cs=tinysrgb');">
</section>


Styleguide 3.17
*/

.cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset -1px -1px 0 $white;
  color: $white;
  text-shadow: 0px 2px 4px rgba($black,0.50);
}
