/*
Cover

Full bleed image. Image source is defined inline.
The picture is contained in a parent container which hides the overflow.

markup:
<figure class="cover">
  <picture class="cover__image">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1440px)" srcset="/images/content/handheld/tablet.png, /images/content/handheld/tablet--2x.png 2x">
    <source media="(min-width: 1024px)" srcset="images/content/handheld/smartphone--portrait--2x.png">
    <source media="(min-width: 768px)" srcset="/images/content/handheld/smartphone--landscape--2x.png 2x">
    <source media="(orientation: landscape)" srcset="/images/content/handheld/smartphone--landscape.png, /images/content/handheld/smartphone--landscape--2x.png 2x">
    <source media="(orientation: portrait)" srcset="/images/content/handheld/smartphone--portrait.png, /images/content/handheld/smartphone--portrait--2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img class="cover__image" srcset="/images/content/handheld/tablet.png, /images/content/handheld/tablet--2x.png 2x" alt="">
  </picture>
  <figcaption">
    Handheld
  </figcaption>
</figure>


Styleguide 3.17
*/

/*
 * 1. Center image
 * 2. Text on an image backdrop is white
 */
.cover {
  // background-color: $color-blue; // Debug
  position: relative;
  overflow: hidden;
  background-color: transparent !important;
  color: $white;
  box-shadow: inset 1px 1px 0 $white, inset -1px -1px 0 $white;
  &--light {
    // color: $color-dark-blue;
    // .button {
    //   color: $color-dark-blue;
    //   border-color: $color-dark-blue;
    // }
  }
  &--neutral {
    // color: $color-body;
    // .button {
    //   color: $color-body;
    //   border-color: $color-body;
    // }
  }
  &--hero {

  }
  &__image {
    background-color: #FFF;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    // max-width: 100%;
    // max-height: 100%;

    // top: 50%; /* 1 */
    // left: 50%; /* 1 */
    // transform: translateY(-50%) translateX(-50%); /* 1 */
  }
  @include breakpoint($portrait) {
    &__image {
      bottom: 0;
      top: auto;
    }
  }
  @include breakpoint($landscape) {
    &__image {
      right: 0;
      left: auto;
    }
  }
  // img {
  //   max-width: 100%;
  // }

  @include breakpoint($portrait) {
    &--hero &__image {
      width: 100%;
      height: auto;
      min-height: 0;
      top: auto;
      bottom: 0;
    }
  }
  @include breakpoint($landscape) {
    &--hero &__image {
        height: auto;
        max-height: 100%;
        left: auto;
        right: 0;
        top: auto;
        bottom: 0;
    }
  }
  // @include breakpoint("#{$landscape} and (min-aspect-ratio: 16/9)") {
  //   &--hero &__image {
  //       top: auto;
  //       bottom: 0;
  //   }
  // }
  // @include breakpoint("(min-aspect-ratio: 16/9)") {
  //   &--hero &__image {
  //       height: 100%;
  //   }
  // }
  @include breakpoint($portrait) {
    &--hero &__image {
        // max-width: none;
    }
  }
}
