/*
Lead

.lead - Lead or introduction paragraph

markup:
<p class="{$modifiers}">Drone technology could help farmers around the world monitor their crops, fend off pests, improve land tenure, and more. But to realise its full potential, regulatory regimes are necessary, while keeping citizens’ safety and privacy rights secure.</p>

Styleguide 3.2
*/

.lead {
  font-size: to-unit(18px);
  line-height: to-unit(rhythm(8), 1, 18px);
  // font-size: to-unit(16px, 12px);
  // line-height: to-unit(rhythm(7), 1, 16px);
  // // margin: rhythm(10) 0;
  // // @include breakpoint($gt-large-handheld) {
  // //   font-size: 20pt;
  // //   line-height: line-height(20px, 1.3);
  // // }
  // @include breakpoint($gt-medium-desktop) {
  //   font-size: to-unit(18px, 12px);
  //   line-height: to-unit(rhythm(7), 1, 18px);
  // }
}
