/*
List

.list.list--inline - Display set to inline.
.list.list--float - List items are floated next to eachother
.list.list--reset.list--tools - Square bullets
.list.list--reset.list--tools.list--discover - Square bullets
.list.list--reset.list--tools.list--concept - Square bullets
.list.list--reset.list--tools.list--design - Square bullets
.list.list--reset.list--tools.list--build - Square bullets

markup:
<ul class="{$modifiers}">
  <li>List item 1</li>
  <li>List item 2</li>
  <li>List item 3</li>
</ul>

Styleguide 3.7
*/

/*
 * 2. MSIE
 */

.list {
  &--reset {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &--inline {
    li {
      display: inline;
    }
  }
  &--float {
    @include clearfix;
    li {
      float: left;
    }
  }
  &--tools {
    &__section {
      margin-top: px-to-pt(rhythm(8));
      .title {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100%;
        padding: px-to-pt(rhythm(2)) 0 px-to-pt(rhythm(2)) px-to-pt(.5 * $gutter-width);
        background: rgba($color-body, .2);
      }
    }
    li {
      position: relative;
      padding: px-to-pt(rhythm(2)) 0 px-to-pt(rhythm(2)) px-to-pt(1.25 * $gutter-width);
      width: 100%; /* 2 */
      &:before,
      &:after {
          content: "";
          position: absolute;
          top: 1em;
          left: px-to-pt(.5 * $gutter-width);
          display: block;
          width: .8em;
          height: .8em;
      }
      &:before {
        background-color: $color-body; /* or whatever color you prefer */
      }
      &:after {
        background-color: $white;
      }
      @for $i from 20 through 1 {
        &:nth-child(#{$i}):after {
          $_opacity: $i * .05;
          opacity: $_opacity;
        }
        // li:nth-child(#{$i}):after {
        //   $_opacity: $i * 5%;
        //     @debug $_opacity;
        //   background: rgba($white, $_opacity);
        // }
      }

    }

  }
  &--discover {
    li {
      &:before {
        background: $color-coral; /* or whatever color you prefer */
      }
    }
  }
  &--concept {
    li {
      &:before {
        background: $color-green; /* or whatever color you prefer */
      }
    }
  }
  &--design {
    li {
      &:before {
        background: $color-yellow; /* or whatever color you prefer */
      }
    }
  }
  &--build {
    li {
      &:before {
        background: $color-teal; /* or whatever color you prefer */
      }
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .well {
    .list--inline {
      .grid__cell {
        display: inline-block !important;
        float: left;
      }
    }
  }
  .list--inline {
    display: inline-block;
    float: left;
  }
  li {
    float: left;
  }
}
