/*
Quote

.quote - Regular quote, used in testimonial pod
.quote.quote--l - Large quote, used in case

markup:
<blockquote class="{$modifiers} leader trailer"><p>Met oog en gevoel voor de mensen in je organisatie gaat Brickson altijd een stap verder.</p></blockquote>
<figure class="person bleed leader trailer">
  <span class="person__picture gutters">
    <img src="/images/heads/marja_smits.jpg" class="person__image" width="56" height="56" style="background: Grey;"/>
  </span>
  <figcaption class="person__body">
    <span class="person__name title title--section">Marja Smits</span>
    <small class="person__occupation">Manager Strategie en Marketing Evean</small>
  </figcaption>
</figure>

Styleguide 3.18
*/

.quote {
  position: relative;
  // quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
  &--l {
    font-size: to-unit(24px, 1em);
    line-height: to-unit(36px, 1, 24px);
  }
  &:before {
    display: block;
    content: open-quote;
  }
  &:after {
    // content: close-quote;
  }
  &:before,
  &:after {
    font: normal normal 4em/.5 Arial, Helvetica, Gadget, sans-serif;
  }
}
