
/*
Tile

Helper class to center content vertically.

.tile - Centered content

markup:
<h1 class="tile">Extra, extra – read all about it!</h1>

Styleguide 3.16
*/

.tile {
  display: table-cell;
  vertical-align: middle;
}
