/*
Well

Somethimes, content needs to stand out. The `well` class adds a background color, and changes the text color.

.well - Regular well, text and background reversed.

markup:
<div class="{$modifiers}">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Donec elementum ligula eu sapien consequat eleifend. Donec nec dolor erat, condimentum sagittis sem. Praesent porttitor porttitor risus, dapibus rutrum ipsum gravida et.</p>
</div>

Styleguide 3.16
*/

.well {
  background-color: $color-body;
  color: $white;
  &--ostrich {
    background-color: $color-teal;
  }
  &--dove,
  &--stork {
    color: $color-body;
  }
  &--stork {
    background-color: mix($color-teal, $white, 26%);
  }
  &--dove {
    background-color: $white;
  }
}
