/*
Well

Styleguide 3.13
*/

.well {
  &__title {
    margin-top: px-to-pt(rhythm(10));
    margin-bottom: px-to-pt(rhythm(10));
  }
  &__body {

  }
  &__footer {

  }
  @include breakpoint($gt-large-handheld) {
      &__title {
        margin-top: px-to-pt(rhythm(20));
      }
  }
}
